.post > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.post__form {
  background: var(--white-color);
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 3rem;
  margin: 2rem 0;
  border-radius: var(--border-radius);
}
.post__form > h4 {
  margin-top: 1rem;
}
.post__form > .form-group {
  margin: 0.8rem 0;
}
